<h1>Boards#show</h1>
<p>Find me in app/views/boards/show.html.erb</p>



<% col = 0 %>
<%= form_tag('/boards') do %>
  <div class="all_buttons">
    <% 7.times do %>
      <div class="button">
        <%= radio_button_tag('number', col) %>
        <% col += 1 %>
      </div>
    <% end %>
  </div>
  <%= submit_tag "Save" %>
<% end %>
<div class="container">
  <% @grid.transpose.reverse.each do |rows| %>
    <% col_number = 0 %>
    <div class="row">
    <% rows.each do |space| %>
    <% color = "test" %>
      <div class="col-md-1 space <%= color(space) %>" id="<%= col_number %>"><%= space %></div>
    <% end %>
  <% end %>
</div>




<%= @params %>